// $colors: (
//   primary:    #488aff,
//   secondary:  #32db64,
//   danger:     #f53d3d,
//   light:      #f4f4f4,
//   dark:       #222,
//   accent: #FF3F80,
//   background: #303030,
//   card: #424242,
//   toolbar: #212121
// );

ion-item {
    background: #424242
}

ion-toolbar {
    background: #212121
}

ion-content {
    background: #303030
}

ion-card {
    background: #424242
}

ion-card-title, ion-card-subtitle, ion-title  {
    color: white
}
ion-searchbar {
    background: #212121
}
ion-list {
    background: #303030
}

.item {
    --background: #424242;
    --color: #ffffff
}
